:root {
    --main-text-color: #e8e6e3;
    --main-link-color: #59a8cc;
    --main-background: #27292b;
}
body {
    background-color: var(--main-background);
    color: var(--main-text-color);
    font-family: Consolas;
}

body a {
    text-decoration: none;
    color: var(--main-link-color);
}

.wraper {
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: #36393b;
    text-align: center;
    border-radius: 25px;
}

.solve {
    position: relative;
    width: 90%;
    left: calc(5% - 15px);
    border-radius: 25px;
    background-color: #443e5a;
    padding: 10px;
    margin: 5px;
}
.add_dialog {
    position: absolute;
    width: 90%;
    left: calc(5% - 15px);
    bottom: 10px;
    border-radius: 25px;
    background-color: #443e5a;
    padding: 10px;
    margin: 5px;
    text-align: center;
}